
footer {
  .copyright {
    font-size: 1.5em;
    width: 40%;
    float: left;
    padding: 20px;
  }

  .social {
    width: 40%;
    float: right;
    padding: 10px;
  }


  img {
    float: right;
    width: 50px;
    height: 50px;
  }

}