.logo {
  font-size: 2em;
  padding: 20px;
}

.nav {
  ul {
    width: 50%;
    li {
      float: left;
      display: inline;
      padding: 15px;

    }
  }
}

.login {
  width: 20%;
  float: right;
  padding: 20px;
}

.contain {
  clear: both;
}