@import '../../bourbon/bourbon';


$font-stack:    Helvetica, sans-serif;
$font-size: 16px;
$primary-color: #333;
$bg-color: blue;



html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, em, img, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;

}





html {
  font: 16px $font-stack;
  color: $primary-color;
  margin: 0 0 0 0;
  background-color: $bg-color;
}


body {
  margin: auto;
  width: 80%;
}

@import 'landing';

@import 'header';

@import 'footer';




