<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HelpOut</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="img/site/helpout_57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="img/site/helpout_72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/site/helpout_114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="img/site/helpout_144x144.png"/>
    <link rel="icon" type="image/png" href="img/site/helpout_57x57.png">

</head>
<body data-ng-app="helpOut">
<header class="logo">
    <a href="index.html"><h1 class="title">HelpOut</h1></a>
</header>
<nav class="nav">
    <ul>
        <li><a href="browse.html">Browse</a></li>
        <li><a href="/#/maps">Maps</a></li>
        <li><a href="/#/about">About</a></li>
        <li><a href="/#/signup">Sign Up</a>
        </li>
    </ul>
    <div class="login">
        <a data-ng-if="!loggedIn()" data-ng-href="/#/signin">Sign In</a>
        <a data-ng-if="loggedIn()" data-ng-href="/#/" data-ng-click="logOut()">Log Out</a>
    </div>
</nav>

<main class="contain">
    <section data-ng-view>
    </section>
</main>
<footer class="footer">
    <div class="copyright">
        <p>&copy;2015 HelpOut.com</p>

        <p><a href="">Terms of use</a></p>
    </div>
    <div class="social">
        <a href="http://www.facebook.com/chengzh2008"><img src="img/site/facebook.png"></a>
        <a href="http://www.twitter.com/@chengzh2008"><img src="img/site/twitter.png"></a>
        <a href="http://www.linkedin.com/in/zhihongcheng"><img src="img/site/li.png"></a>
        <a href="mailto:chengzh2008@gmail.com"><img src="img/site/mail.png"></a>

    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="bundle.js"></script>
</body>
</html>

