<section data-ng-controller="eventController" data-ng-init="getAll()">

    <!--<h2>Welcome onboard: {{currentUser.profileInfo.name.firstname + ' ' + currentUser.profileInfo.name.lastname}}</h2>-->

        <div data-edit-event-directive data-ng-if="addingEvent"></div>
    <div class="contain">
            <div class="panel panel-default">

                <div class="panel-heading clearfix">

                    <h2 class="panel-title pull-left">Your Event List</h2>
                    <button class="btn btn-primary pull-right" data-ng-click="toggleAddEvent()">
                        Add Event
                    </button>
                </div>


                <div class="list-group">


                    <div class="row">
                        <div class="col-sm-6">
                            <i class="fa fa-3x fa-building-o pull-left"></i>
                            <h4 class="list-group-item-heading">Name</h4>

                            <p class="list-group-item-text">City, Country</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="list-group-item-text">Type</p>

                            <p class="list-group-item-text">Revenue</p>
                        </div>
                    </div>


                    <div class="list-group-item">
                    </div>
                    <a class="list-group-item" href="mailto:{{currentUser.profileInfo.email}}">
                        <label>Email</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.email}}</h4>
                    </a>

                    <div class="list-group-item">
                        <label>City</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.city}}</h4>
                    </div>

                    <div class="list-group-item">
                        <label>Bio</label>

                        <p class="list-group-item-heading">{{currentUser.profileInfo.bio}}</p>
                    </div>

                    <div class="list-group-item">
                        <label>What you care</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.causes}}</h4>
                    </div>

                    <div class="list-group-item">
                        <label>Good at</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.skills}}</h4>
                    </div>

                    <div class="list-group-item">
                        <label>Phone</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.phone}}</h4>
                    </div>

                    <a class="list-group-item">
                        <label>Home Page</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.website}}</h4>
                    </a>

                    <div class="list-group-item">
                        <label>Joined since</label>
                        <h4 class="list-group-item-heading">{{currentUser.profileInfo.createdSince}}</h4>
                    </div>

                </div>

            </div>

    </div>


</section>

