<form name="editProfile" data-ng-if="currentUser.edittingProfile">
    <div>
        <label for="currentUserEmail">Email: </label>
        <input type="text" id="currentUserEmail" data-ng-model="currentUser.profileInfo.author"/>
    </div>
    <div>
        <label for="currentUserType">Type: </label>
        <input type="text" id="currentUserType" data-ng-model="currentUser.profileInfo.type"/>
    </div>
    <div>
        <label for="currentUserEmail">Email: </label>
        <input type="text" id="currentUserName" data-ng-model="currentUser.profileInfo.author"/>
    </div>
    <div>
        <label for="currentUserType">Type: </label>
        <input type="text" id="currentUserCon" data-ng-model="currentUser.profileInfo.type"/>
    </div>
    <div>
        <label for="currentUserFirstname">Contact firstname: </label>
        <input type="text" id="currentUserFirstname" data-ng-model="currentUser.profileInfo.author"/>
    </div>
    <div>
        <label for="currentUserLastname">Contact lastname: </label>
        <input type="text" id="currentUserLastname" data-ng-model="currentUser.profileInfo.type"/>
    </div>
    <div>
        <label for="currentUserMission">Mission: </label>
        <textarea type="text" id="currentUserMission" data-ng-model="currentUser.profileInfo.email"></textarea>
    </div>
    <div>
        <label for="currentUserAddress">Address: </label>
        <input type="text" id="currentUserAddress" data-ng-model="currentUser.profileInfo.address"/>
    </div>
    <div>
        <label for="currentUserCity">City: </label>
        <input type="text" id="currentUserCity" data-ng-model="currentUser.profileInfo.city"/>
    </div>
    <div>
        <label for="currentUserPhone">Phone: </label>
        <input type="text" id="currentUserPhone" data-ng-model="currentUser.profileInfo.phone"/>
    </div>
    <div>
        <label for="currentUserWebsite">Website: </label>
        <input type="text" id="currentUserWebsite" data-ng-model="currentUser.profileInfo.website"/>
    </div>

    <button type="submit" data-ng-click="save(currentUser.profileInfo)">Save Profile</button>
</form>

