<section data-ng-controller="notesController" data-ng-init="getAll()">
    <h1>Notes:</h1>

    <div data-create-note-directive></div>
    <div data-create-resource-directive save="create(resource)" fieldname="'noteBody'" resourcename="Note"></div>
    <ul data-ng-repeat="note in notes">
        <li>
            {{note.noteBody}}
            <form data-ng-if="note.editing">
                <label for="note{{note._id}}">Edit Note</label>
                <input type="text" id="note{{note._id}}" data-ng-model="note.noteBody">
                <button type="submit" data-ng-click="save(note)">Save Changes</button>
                <button type="button" data-ng-click="editToggle(note)">Cancel</button>
            </form>
            <button data-ng-click="editToggle(note)" data-ng-if="!note.editing">Edit Note</button>
            <button data-ng-click="remove(note)">Delete Note</button>
        </li>
    </ul>
</section>
